
h1, 
h2, 
h3, 
h4, 
p {
margin-top: 0;
margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button { 
    cursor: pointer;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
    
}

.link {
    text-decoration: none;
}
.list-contact {list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 24px;}

.conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.conteiner-portfolio {
        width: 1440px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        flex-wrap: wrap;
        
    }

/* =================components================= */
body {font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

a {
        color: #2E2F42;
}

p {font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
footer {
    background: #2E2F42;
}

/* header */
.header {
padding-top: 24px;
padding-bottom: 24px;
}
.page-header-conteiner {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}

.menu .link:hover, 
.menu .link:focus{
color: #404BBF;

}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-item:not(:last-child) {
margin-right: 40px;
}

.mail{
    margin-right: 40px;
}

.mail,
.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.mail:hover, .mail:focus,
.phone:hover, .phone:focus {
    color: #404BBF;
}


.logo-web {
color: #4D5AE5;
}
.logo {
margin-right: 76px;
font-family: 'Raleway', sans-serif;
color: #2E2F42;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-dark-bgnd {
    font-family: 'Raleway', sans-serif;
    color: #F4F4FD;;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


/*--------- Hero----------- */
.hero {
    background: #2E2F42;
}
.main-title {
display: flex;
 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #2E2F42;
}
.order-btn {
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #FFFFFF;
    border: none;
}
.order-btn:hover,
.order-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF
}
/* section about-us  */
.about-us {
    background: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
/* sectoin what we doing */
.what-we-doing {
    background: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
/* section our team  */
.our-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F4F4FD;
}

/* footer */

.catchphrase {
    color: #E7E9FC;
}

/* portfolio-section-filter */

.filter {
    background: #FFFFFF;
}

.filter-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF
}
.portfolio-work {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}